<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Keys not covered by INFOPLIST_KEY_* build settings. The build system
	     merges the generated Info.plist entries on top of this file. -->
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.paulbarba.cryptoledger.pricecheck</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
